<!-- Link to navigate to the new page -->
<a href="/GoodBye">Watch YouTube Video</a>
<!-- MyPage.razor -->
@page "/GoodBye"
<h3>YouTube Video</h3>

<!-- Embedding the YouTube video -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/xm3YgoEiEDc" frameborder="0" allowfullscreen></iframe>